.nosotros-component{
    padding: 0 20rem;
    height: 80vh;
}

@media (max-width: 600px) {
    .nosotros-component{
        height: auto;

        .component-title{
            font-size: 1.5rem;
        }
        .component-text{
            font-size: 1rem;
        }
    }
}