@media (max-width: 600px) {
    .servicions-info{
        font-size: 1rem;
    }
    .container-index .bg-text {
        top: 30%;
        width: 100%;
        transform: translate(0, 0);
        font-size: 1rem;
    }
}